div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
  border-radius: 1.5rem;
  width: 50%;
  min-width: 18rem !important;
  max-width: 20rem !important;
  min-height: 18rem !important;
  max-height: 20rem !important;
}
