<div>
  <mat-card class="card">

    <mat-button-toggle-group [(ngModel)]="transformationType" class="toggle-button-group">
      <mat-button-toggle value="Decrypt">Decrypt</mat-button-toggle>
      <mat-button-toggle value="Encrypt">Encrypt</mat-button-toggle>
    </mat-button-toggle-group>

    <app-shift-value-input [(shiftVal)]="shiftValue"></app-shift-value-input>

    <mat-form-field class="input">
      <mat-label>Message</mat-label>
      <input #input matInput maxlength="300" [(ngModel)]="message" class="message" />
      <mat-hint align="end">{{input.value.length}}/300</mat-hint>
    </mat-form-field>

    <button class="transform-btn" mat-raised-button color="primary" (click)="transformMessage()">Transform
      Message</button>

  </mat-card>
  <p *ngIf="output" class="output">{{output}}</p>
</div>