<div>
  <mat-card class="card">

    <mat-button-toggle-group [(ngModel)]="transformationType" class="toggle-button-group">
      <mat-button-toggle value="Decrypt">Decrypt</mat-button-toggle>
      <mat-button-toggle value="Encrypt">Encrypt</mat-button-toggle>
    </mat-button-toggle-group>

    <app-shift-value-input [(shiftVal)]="shiftValue"></app-shift-value-input>

    <mat-form-field class="input">
      <mat-label>Message</mat-label>
      <input matInput type="text" [(ngModel)]="message" class="message">
    </mat-form-field>

    <button class="transform-btn" mat-raised-button color="primary" (click)="transformMessage()">{{transformationType}}
      Message</button>

    <p class="output">{{output}}</p>
  </mat-card>
</div>